/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Shared Styles */

.display-flex{
    display: flex;
}
.color-1{
    color: #789DBC;
}
.color-2{
    color: #C9E9D2;
}
.color-3{
    color: #5D58EF;
}
.color-4{
    color: #05D4DF;
}
.orange-color{
    color: #FEA301;
}
.color-blue{
    color: #01ACFD;
}
.btn-1{
    background-color: #FEA301;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 10px 50px;
    border-radius: 12px;

}
.btn-2{
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 10px 40px;
    border-radius: 12px;
}

.body{
    
}

  /* Navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.scl{
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hamburger-icon{
    display: none;
}

/* Banner Styles */
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
}
/* Responsive */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 10px;
        border: 2px solid orange;

    }
    .navbar ul{
        display: none;
    }
    .navbar>button{
        display: none;
    }
    .h3{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner img{
        width: 100%;
    }
    .banner-content{
        justify-items: center;
        text-align: center;
    }