/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Shared Styles */

.display-flex{
    display: flex;
}
.color-1{
    color: #789DBC;
}
.color-2{
    color: #C9E9D2;
}
.color-3{
    color: #5D58EF;
}
.color-4{
    color: #05D4DF;
}
.orange-color{
    color: #FEA301;
}
.color-blue{
    color: #01ACFD;
}
.btn-1{
    background-color: #FEA301;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 10px 50px;
    border-radius: 12px;

}
.btn-2{
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 10px 40px;
    border-radius: 12px;
}


.body{
    
}
.gap{
    margin-top: 30px;
}

  /* Navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.scl{
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hamburger-icon{
    display: none;
}

/* Banner Styles */
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
}
/* Main */
main{
    
}
.bg-img{
    background-image: url(../assets/bg.png);
}
/* Curriculam Section */
.curriculam{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.section-title{
    font-size: 2.6rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
.division{
    width: 320px;
    height: 450px;
    border-radius: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* box-shadow: 0 0 28px 0.94px #DEF5Ff inset;
    background: white; */
}
.box-1{
    border: 2px solid #DEF5FF;
    background: linear-gradient(0deg, white, #DEF5FF);
    padding: 30px;
}
.box-2{
    border: 2px solid #FFF4DC;
    background: linear-gradient(0deg, white, #FFF4DC);
    padding: 30px;
}
#box-2{
    background-image: linear-gradient(180deg, white, #FFF4DC), url(../assets/bg.png);
    padding: 30px;
}
.box-3{
    border: 2px solid #F2E8FF;
    background: linear-gradient(0deg, white, #F2E8FF);
    padding: 30px;

}
.division-container{
    display:flex;
    justify-content: space-between;
    margin-bottom: 80px;

}
.division-container li{
    list-style: none
}
/* Round btn */
.nav-btn{
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}
.btn-round{
    background-color: #FEA301;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    font-size: 1.8rem;
    
}
/* Stories Section */
.stories{
    
}
.stories-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    

}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows:repeat(2, 290px 300px) ; */
    gap: 19px;
    width: 100%;
    
}
.story{
    background-color: white;
    /* padding: 20px; */
    border-radius: 16px;
    justify-content: center;
    width: 540px;
    height: 638px;
}
.story img{
    width: 100%;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
}
.short-story{
    width: 100%;
    height: 310px;
    background-color: white;
    border-radius: 16px;
    justify-content: center;
}
.story>.content-section{
    padding: 35px;
}
.short-story>.content-section{
    padding: 25px;
}
.short-story img{
   width: 100%;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
}
#story-1{
    grid-row: span 2;
}

.date{
    /* position: absolute; */
    /* bottom: 10px;
    left: 10px; */
    background-color: #00bcd4;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  .view-btn{
    margin-bottom: 60px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }



/* Responsive */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 10px;
        border: 2px solid orange;

    }
    .navbar ul{
        display: none;
    }
    .navbar>button{
        display: none;
    }
    .h3, .nav-btn{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner img{
        width: 100%;
    }
    .banner-content{
        justify-items: center;
        text-align: center;
    }
    .section-title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .division-container{
        flex-direction: column;
        width: 100%;
        gap: 20px;
        align-items: center;
        height: auto;
    }
}    